[submodule "pkgs/com.morgrimm.morglyphs"]
	path = pkgs/com.morgrimm.morglyphs
	url = https://morgrimm@github.com/morgrimm/morglyphs.git
[submodule "pkgs/com.tokems.Glyphs"]
	path = pkgs/com.tokems.Glyphs
	url = https://morgrimm@github.com/morgrimm/tokems-glyphs.git
